# Core functionality - changes here should be rare!
/src/app.py                   @TheBrickalista
/src/backend/database.py      @TheBrickalista
/src/backend/routers/auth.py  @TheBrickalista

# The frontend will need refactored soon to be more object oriented.
/src/static/   @TheBrickalista
